body {
    color: white;
    background-color: #0F0F0F;
}

header {
    background-color: #1F1F1F;
}

main {
    background-image: url(/picture/background.png);
    background-position: center;
    background-repeat: no-repeat;

}

.header_button {
    display: flex;
    justify-content: space-between;
}

.header_button-element {
    display: flex;
}